body
{
    background-color: rgb(250,250,250);
    overflow-x: hidden;
    
}
/*Main container*/
.container
{
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    top: 12em;
    right: 0.8em;
    /*margin-top: -6.25rem;*/
    /*margin-left: -6.25rem;*/
    width: 70%;
}
.form-check
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}
/*Input box div*/
.form-group
{

    background-color: inherit;
    position:relative;
    /*width: 79%;*/
}
.form-control
{
    border-color:#9b9b9b;
}
/*Input boxes when they have content and not focussed on*/
.form-control,.form-control:not(:placeholder-shown).form-control:not(:focus)
{
    background-color: inherit;
    height:50px;
}
/*Input boxes when in focus*/
.form-control:focus
{
    background-color: inherit;
    border-color: dodgerblue;
    box-shadow: none;
    /*border-width: small;*/
}
.form-control:focus ~.label-input,.form-control:not(:placeholder-shown).form-control:not(:focus) ~.label-input
{
    color: dodgerblue;
}
.label-input
{
    color:gray;
    position: absolute;
    padding:0 0.5rem;

    top:-0.8rem;
    left:0.3rem;
    font-size:smaller;
    background-color:rgb(250,250,250);
}
.form-control:not(:placeholder-shown).form-control:not(:focus) ~.label-input
{
    color:gray;
}
.fa-calendar
{
  position:absolute;
  top:1em;
  right:0.8em;
  
}
.fa-calendar:hover
{
    cursor:pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 25px #EEEEEE;
}
.heading
{
    position:relative;
    text-align: center;
}
#valid-id
{
    display: none;
    color:red;
    font-size: small;
}
/**********Dropdown styles************************************/
.dropdown
{
    position: relative;
    /*width:79%;*/
    height:3.5rem;
}

/*.dropdown-toggle:focus ~.btn-label
{
    top:-0.8rem;
    font-size:smaller;
    background-color: inherit;
}*/
.dropdown-toggle:not(:focus)
{
    border-color: #9b9b9b;
}
.dropdown-toggle
{
    background-color:inherit;
    width:100%;
    height:100%;  
}
.btn-label
{
    color:grey;
    position: absolute;
    left:1rem;
    top:1rem;
    padding:0 0.5rem;
}
.dropdown-toggle:hover
{
    background-color: whitesmoke;
}
/****************************Buttons******************************/
.button
{
    /*position: relative;*/
    color:#2397f3;
    /*height:fit-content;*/
    height:2.9em;
    width:7em;
    /*right:5em;*/
}
.back
{   
    text-align:center;
    
}
.button:disabled
{
    
    color: #2397f3;
    pointer-events: none;
    border:0.2rem solid #E2E2E0;
    background-color:#d5e4e4;
}
.btn-primary
{
    background-color: inherit;
    background-repeat:no-repeat;
    border:0.2rem solid #E2E2E0;
    border-radius:30px;
}
.btn-primary:hover
{
    color: #2397f3;
    background-repeat:no-repeat;
    border:0.2rem solid #E2E2E0;
    background-color:#d5e4e4;   
}
#back-button
{
    margin-right:10px;
}
.option
{
    color:#9db1b1;    
}