{% extends "base.html" %}
{% set title = 'Method of Identification' %}
{% set step = 1 %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stepOneStyle.css') }}">
{% endblock %}
{%block body%}
    <div class="container">
        <form action="">
            <div class="buttons">
                <div class="div-id">
                    <button type="submit" name="id" value="true" id="id" class="btn btn-primary btn-lg"onclick="location.href='/2'">Use South African ID</button>
                </div>
                <div class="div-passport">
                    <button type="submit" name="passport" value="true" id="passport" class="btn btn-primary btn-lg">Use Passport</button>
                </div>
                <div class="div-asylum">
                    <button type="submit" name="asylum" value="true" id="asylum" class="btn btn-primary btn-lg">Use Asylum Seeker/ Refugee Number</button>
                </div>
                <div class="back">
                    <button type="submit" name="back" value="true" id="back-button" class="btn btn-primary btn-lg ">Go Back</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
</html>