{% extends "base.html" %}
{% set title = 'General Information' %}
{% set step = 2 %}

{% block head %}
    {{ super() }}
    
    <script src="{{ url_for('static', filename='js/dataValidate.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stepTwoStyle.css') }}">
{% endblock %}
{%block body%}
        <div class="container">
            <form id="input-form" action="/2" method="POST">
                <div class="form-group">
                  <input type="text" onkeyup="validate(this.value)" class="form-control" id="IDNumber" name="IDNumber" value="{{ user.id_number if user.id_number }}" placeholder="ID Number" minlength="13" maxlength="13" required>
                  <label for="IDNumber" id="id-label" class="label-input id-label">ID Number</label>
                  <span id="valid-id">
                    ID must be a valid SA 13-digit ID number
                  </span>
                </div>
                <div style="display: none;" class="form-group" id ="confIDNumber">
                    <input type="text" class="form-control" id="confIDNum" name="confIDNum"  value="{{ user.id_number if user.id_number }}" placeholder="Confirm ID Number" minlength="13" maxlength="13">
                    <label for="confIDNum" id="cid-label" class="label-input id-label">Confirm ID Number</label>
                </div>
                
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="passport" value="{{ user.passport_number if user.passport_number }}" name="passport" placeholder="Passport Number(Optional)">
                  <label for="passport" class="label-input" >Passport Number(Optional)</label>
                  
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="dob" value="{{ user.date_of_birth if user.date_of_birth }}" name="dob" placeholder="Date of Birth(CCYY/MM/DD)">
                    <label for="dob" class="label-input dob-label"></label>
                    <i onclick="date()" id="calendar" class="fa fa-calendar"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="firstname" value="{{ user.first_names if user.first_names }}" name="firstname" placeholder="First Name(s)" required>
                    <label for="firstname" class="label-input name-label">First Name(s)</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="surname" value="{{ user.surname if user.surname }}" name="surname" placeholder="Surname" required>
                    <label for="surname" class="label-input surname-label">Surname</label>
                </div>
               
                <div class="dropdown">
                    <select name="gender" id="gender" class="form-select dropdown-toggle" onchange="hide()" required>
                        <option class="option" value="" hidden></option>
                        {% for gender in genders %}
                            <option class="option" value="{{ gender.gender }}" selected="{{ gender.gender == user.gender }}">{{ gender.gender }}</option>
                        {% endfor %}
                    </select>
                    <label for="gender" id="label-gender" class="btn-label"></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexCheckDefault" value="" id="flexCheckDefault" onclick="enableButton()" required>
                    <label for="flexCheckDefault">I confirm that the information provided is correct</label>
                </div>
                <div class="back">
                    <button type="button" id="back-button" name="back" value="true" class="btn btn-primary button">Go Back</button>
                    <button type="submit" id="next" name="next" value="true" class="btn btn-primary button" disabled>Next Step</button>
                </div>
              </form>
        </div>
        
    {% endblock %}
