{% extends "base.html" %}
{% set title = 'General Information' %}
{% set step = 2 %}

{% block head %}
    {{ super() }}
    
    <script src="{{ url_for('static', filename='js/dataValidate.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stepTwoStyle.css') }}">
{% endblock %}
{%block body%}
        <div class="container">
            <form id="input-form" action="/2" method="POST">
                <div class="form-group">
                  <input type="text" onkeyup="validate({checksum})" class="form-control" id="IDNumber" name="IDNumber" value="{{ id }}" placeholder=" " minlength="13" maxlength="13" required>
                  <label for="IDNumber" id="id-label" class="label-input id-label">ID Number</label>
                  <span id="valid-id">
                    ID must be a valid SA 13-digit ID number
                  </span>
                </div>
                <div style="display: none;" class="form-group" id ="confIDNumber">
                    <input type="text" class="form-control" id="confIDNum" name="confIDNum"  value="{{ confID }}" placeholder=" " minlength="13" maxlength="13">
                    <label for="IDNumber" id="cid-label" class="label-input id-label">Confirm ID Number</label>
                </div>
                
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="passport" value="{{ passport }}"name="passport"placeholder=" ">
                  <label for="passport" class="label-input" >Passport Number(Optional)</label>
                  
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" id="dob" value="{{ dob }}"name="dob" value="" placeholder=" ">
                    <label for="dob" class="label-input dob-label">Date of Birth(CCYY/MM/DD)</label>
                    <i onclick="date()" id="calendar" class="fa fa-calendar"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="firstname" value="{{ name }}" name="firstname" placeholder=" " required>
                    <label for="firstname" class="label-input name-label">First Name(s)</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="surname" value="{{ surname }}" name="surname" placeholder=" " required>
                    <label for="IDNumber" class="label-input surname-label">Surname</label>
                </div>
               
                <div class="dropdown">
                    <select name="gender" id="gender" class="form-select dropdown-toggle" onchange="hide()" required>
                        <option class="option" value="" hidden></option> 
                        <option class="option" value="male">Male</option> 
                        <option class="option" value="female">Female</option>
                        <option class="option" value="other">Other</option>
                    </select>
                    <label for="dropdownMenuButton" id="label-gender"class="btn-label">Gender</label>    
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flexCheckDefault" value="" id="flexCheckDefault" onclick="enableButton()"required>
                    <label for="flexCheckDefault">I confirm that the information provided is correct</label>
                </div>
                <div class="back">
                    <button type="button" id="back-button" name="back" value="true"class="btn btn-primary button">Go Back</button>
                    <button type="submit" id="next" name="next" value="true" class="btn btn-primary button" disabled>Next Step</button>
                </div>
              </form>
        </div>
        
    {% endblock %}
