<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/VRP.css">
    <link rel="stylesheet" href="../static/css/test.css">
    <script src="../static/js/test.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="sa-id-row" class="row justify-content-center">
            <div class="col col-lg-8">
                <label for="sa-id">ID Number</label>
                <input onkeyup="validate();" type="text" id="sa-id" name="sa-id" class="form-control" placeholder="ID Number">
                <label class="label-sub" for="sa-id"></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-2">
                <button type="submit" name="return" value="true" class="btn btn-form-sm float-start" formnovalidate>Go back</button>
            </div>
            <div class="col col-2">
                <button type="submit" name="submit" value="true" class="btn btn-form-sm">Next step</button>
            </div>
        </div>
    </div>
</body>
</html>